body {
    margin: 0px;
    background-color: #23272A;

    height: 720px;
    width: 1280px;
}

#container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);

    height: 720px;
    width: 1280px;

}

.teams {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: 640px;
}

#Blue {
    background-color: blue;
}

#Red {
    background-color: red;
}

.players {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(5, auto);
    row-gap: 30px;
}

.player {
    display: grid;
    align-items: center;
    justify-self: center;
    grid-template-columns: repeat(4, auto);
    background-color: bisque;
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    height: 100px;
    width: 448px;
}

.agent {
    display: grid;
    align-items: center;
    justify-self: center;
    background-color: white;
    height: 100px;
    width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.agent-img {
    align-items: center;
    justify-self: center;
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.agent-name {
    font-weight: bold;
    font-size: 15px;
}

.info {
    align-items: center;
    justify-self: center;

    text-indent: 10px;

    background-color: gold;
    height: 100px;
    width: 124px;
}

.stats {

    text-align: center;

    align-items: center;
    justify-self: center;

    background-color: green;
    height: 100px;
    width: 124px;
}

.rank {
    display: grid;
    vertical-align: bottom;
    background-color: white;
    height: 100px;
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rr {
    font-weight: bold;
    text-align: center;
    justify-self: center;
    width: 80px;
    height: 15px;
}

.rank-img {
    padding-top: 3px;
    justify-self: center;
    height: 80px;
    width: 80px;
}